// All of these styles are temporary, please feel free to delete them
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Shippori Mincho B1', Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    height: 100%;
}


section,
footer{
    padding: 4rem;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    .logo{
        display: inline-block;
        padding: 4rem;
        width: 300px;
        vertical-align: center;
    }

    .nav-links{
        display: flex;

        .nav-link{
            margin-top: -3.5%;
            padding: 1.5rem 3rem;
            font-size: 1.125rem;
            list-style: none;

            a{
                display: inline-block;
                text-decoration: none;
                height: 50px;
            }
        }
    }
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6d2d2;
    height: 95vh;

        &__content{
            margin-top: -12.5%;
        }

        &__title{
            font-size: 6rem;
            margin-top: .5rem;
        }

        &__subtitle{
            font-size: 2.75rem;
        }


}

.article-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .article-item{
        margin-top: -20%;
        background-color: #ffffff;
        max-width: 400px;
        border: 1px solid black;
        padding: .8rem;
        box-shadow: 3px 5px 6px rgba(54, 3, 3, .4);

        &__image{
            margin-bottom: 2rem;
            max-width: 400px;
            vertical-align: middle;
            margin-bottom: 2rem;
            img{
                width: 100%;
                overflow: hidden;
            }
        } 
        
        &__title{
            font-size: 1.75rem;
            margin-bottom: 1rem;
        }

        &__subtitle{
            font-size: 1.35rem;
            margin-bottom: .75rem;
        }

        &__text{
            font-size: 1rem;
            line-height: 1.5rem;
        }



    }
}

.feature-section{
    display: flex;
    background-color: #fcf5e1;
    
    &__image{
        padding: .8rem;
        flex: 45%;
        background-color: #fff;
        box-shadow: 3px 5px 6px rgba(54, 3, 3, .4);
        img{
            width:100%;
        }
    }

    &__content{
        flex: 55%;
        padding-left: 5rem;
    }

    &__title{
        font-size: 3.5rem;
        margin-bottom: 1.25rem;
    }
    &__subtitle{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    &__text{
        font-size: 1.5rem;
        line-height: 2.75rem;
        margin-bottom: 4rem;
    }
}

footer{
    border-top: 2px solid black;
    padding-top: 1.25rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
        font-weight: 700;
    }
}


button{
    padding: 10px 30px;
    max-width: 27rem;
    cursor: pointer;
    background-color: rgb(54, 3, 3);
    border-radius: 5px;
    color: #fefefe;
    font-size: 1.65rem;
    transition: .25s;

    &:hover{
        color: rgb(54, 3, 3);
        background-color: #fefefe;
        transition: .25s;
    }
}

a{
    color:rgb(54, 3, 3);
}

/*MEDIA Queries*/

@media(max-width: 800px){
    nav{
        flex-direction: column;
        .nav-link{
            width: 100%;
        }
    }

    .hero-section{
        height: 40vh;
        margin: 0 auto;
        &__content{
            margin-top: -6%;
        }
        &__title{
            font-size: 3rem;
        }

        &__subtitle{
            font-size: 1.8rem;
        }

    }

    .article-section{
        display: flex;
        flex-direction: column;
        .article-item{

            max-width: 90%;
            flex: 100%;
            margin-bottom: 11rem;
        }
    }

    .feature-section{
        display: flex;
        flex-direction: column;
        &__image{
            flex: 100%;
            margin-bottom: 3rem;
        }
        &__content{
            flex: 100%;  
        }
    }
    
}

@media(max-width: 600px){

    nav{
        .nav-links{
            flex-direction: column;
            justify-content: center;

            .nav-link{
                padding: .25rem;
            }
        }

        
    }

    .feature-section{
        &__content{
            padding:0;
        }

        &__title{
            font-size: 2.5rem;
        }

        &__subtitle{
            font-size: 1.75rem;
        }

        &__text{
            font-size: 1.125rem;
            line-height: 1.625rem;
        }
    }

    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem .25rem;

        &__phone{
            margin-bottom: 1.5rem;
        }
    }
}