// All of these styles are temporary, please feel free to delete them
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: grid;
    font-family: 'Shippori Mincho B1', Georgia, 'Times New Roman', Times, serif;
}
